<div class="container">
  <header>
    <section class="cabecalho-link">
      <img src="assets/logo.png" alt="">
      <div class="voltar" (click)="redirectTo('')">
        <img src="assets/arrow-left.png">
        <span>Voltar</span>
      </div>
    </section>
    <section class="cabecalho-contato">
      <img src="assets/perfil-contato.png">
      <h1>Perfil do contato</h1>
    </section>
  </header>
  <app-separador></app-separador>
  <section class="perfil">
    <div class="imagem-perfil">
      <img [src]="contato.avatar">
      <h2><strong>{{ contato.nome }}</strong></h2>
    </div>
    <app-separador></app-separador>
    <ul>
      <li>
        <i class="material-icons">call</i>
        <strong>Telefone</strong>
      </li>
      <li>
        {{ contato.telefone }}
      </li>
      <li>
        <i class="material-icons">mail</i>
        <strong>Email</strong>
      </li>
      <li>
        {{ contato.email }}
      </li>
      <div *ngIf="contato.aniversario">
        <li>
          <i class="material-icons">calendar_month</i>
          <strong>Data de nascimento</strong>
        </li>
        <li>
          {{ contato.aniversario }}
        </li>
      </div>
      <div *ngIf="contato.redes">
        <li>
          <i class="material-icons">language</i>
          <strong>Redes sociais</strong>
        </li>
        <li>
          {{ contato.redes }}
        </li>
      </div>
      <div *ngIf="contato.observacoes">
        <li>
          <i class="material-icons">description</i>
          <strong>Observações</strong>
        </li>
        <li>
          {{ contato.observacoes }}
        </li>
      </div>
    </ul>
    <div class="botoes">
      <button (click)="excluirContato()" class="botao-excluir">Excluir contato</button>
      <button class="botao-editar" (click)="redirectTo('adicionar-contato/'+contato.id)">Editar</button>
    </div>
  </section>
</div>
<app-footer></app-footer>
