<section class="contato">
  <ul>
    <li (click)="redirectTo('/perfil-contato/'+contato.id)" class="redirect">
      <img [src]="contato.avatar">
      <strong>{{ contato.nome }}</strong>
    </li>
    <li>
      {{ contato.telefone }}
    </li>
    <li>
      <button>
        <img src="/assets/pencil-square.png" (click)="redirectTo('/adicionar-contato/'+contato.id)">
      </button>
      <button>
        <img src="/assets/trash.png" (click)="deletarContato(contato)">
      </button>
    </li>
  </ul>
</section>
