.contato ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 44px;
}

.contato ul li {
  list-style: none;
  color: #212529;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contato ul li img {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.contato ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contato ul li button img {
  width: 16px;
  height: 16px;
}

.contato ul .redirect {
  justify-content: center;
}

.contato ul .redirect:hover {
  cursor: pointer;
}

